@charset "UTF-8";
.ems-date input {
  border-color: #4983ac;
  background: rgba(43, 142, 211, 0.4);
}

.ems-date input:hover {
  border-color: #4983ac;
}

.el-picker-panel__footer, .el-picker-panel {
  background: #20344F;
  border: none;
}

.el-picker-panel__footer .el-button + .el-button, .el-picker-panel .el-button + .el-button {
  height: 30px;
  padding: 6px 20px;
  color: #fff;
  background: #014099;
  border: 1px solid #014099;
}

.el-picker-panel__footer .el-button + .el-button:hover, .el-picker-panel .el-button + .el-button:hover {
  background: #014099;
}

.el-picker-panel__footer .el-date-table td.in-range div, .el-picker-panel .el-date-table td.in-range div {
  background: #014099;
}

.el-picker-panel__footer .el-time-panel, .el-picker-panel .el-time-panel {
  background: #20344F;
}

.el-picker-panel__footer .el-time-panel .el-time-spinner__item, .el-picker-panel .el-time-panel .el-time-spinner__item {
  color: #fff;
}

.el-picker-panel__footer .el-time-panel .el-time-spinner__item:hover, .el-picker-panel .el-time-panel .el-time-spinner__item:hover {
  background: rgba(43, 142, 211, 0.4);
}

.el-picker-panel__footer .el-time-panel .el-time-panel__btn, .el-picker-panel .el-time-panel .el-time-panel__btn {
  color: #006FdF;
}

.el-month-table td .cell, .el-year-table td .cell, .el-date-picker__header-label, .el-picker-panel__icon-btn, .el-date-table__row, .el-date-table th {
  color: #E6E6E6;
}

.el-year-table td.disabled .cell, .el-month-table td.disabled .cell, .el-date-table td.disabled div {
  background: rgba(255, 255, 255, 0.05);
}

.el-input--small .el-input__inner {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #43648F;
  color: #fff;
}

.el-date-range-picker__header div, .el-input--mini .el-input__inner {
  color: #fff;
}

.el-range-editor--medium.el-input__inner, .el-input--medium .el-input__inner {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #43648F;
  border-radius: 0;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #FFFFFF;
}

.el-input.is-disabled .el-input__inner {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #43648F;
  border-radius: 0;
}

.el-form-item.is-success .el-input__inner {
  border-color: #43648F;
}

.el-range-editor--medium .el-range-input {
  background: none;
  color: #FFFFFF;
}

.el-date-editor .el-range-separator {
  color: #FFFFFF;
}

.el-radio-group.ems-radio-button .el-radio-button .el-radio-button__inner {
  background: rgba(255, 255, 255, 0);
  border: 1px solid #014099;
  border-radius: 0;
  box-shadow: inset 0 0 8px 0 #014099;
  color: #fff;
}

.el-radio-group.ems-radio-button .is-active .el-radio-button__inner {
  background: #014099;
}

.el-textarea__inner {
  background: #fff;
  border: 1px solid #43648F;
  font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
}

.ems-button {
  border-radius: 0;
  margin-left: 20px;
  height: 36px;
  padding: 6px 20px;
  background: #014099;
  border: 1px solid #014099;
  min-width: 100px;
}

.buttonon {
  background: #0048A5;
  border: 1px solid rgba(8, 20, 33, 0.55);
  box-shadow: inset -1px 0 2px 0 rgba(0, 0, 0, 0.5), inset 0 1px 2px 0 rgba(0, 0, 0, 0.5), inset 0 -1px;
}

.buttonoff {
  background: #014099;
  border: 1px solid rgba(8, 20, 33, 0.55);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5), inset -1px 0 0 0 rgba(255, 255, 255, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  border-radius: 2px 0 0 2px;
}

.w160 {
  width: 220px !important;
}

.link {
  font-size: 14px;
  color: #4395FF;
  text-decoration: underline;
  cursor: pointer;
}

.el-select-dropdown {
  background: #20344F;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  border: none;
}

.el-select-dropdown .el-select-dropdown__item.hover {
  background: #20344F;
  font-size: 12px;
  color: #E6E6E6;
  letter-spacing: 0;
}

.el-select-dropdown .el-select-dropdown__item {
  font-size: 12px;
  color: #E6E6E6;
}

.el-select-dropdown .el-select-dropdown__item:hover {
  background: #014099;
}

.el-popper .popper__arrow {
  border-bottom-color: #20344F !important;
}

.el-popper .popper__arrow::after {
  border-bottom-color: #20344F !important;
}

.el-popover {
  background: #20344F;
  border: none;
}

.el-checkbox__label, .el-checkbox__input.is-checked + .el-checkbox__label {
  font-size: 12px;
  color: #E6E6E6;
}

.el-checkbox {
  margin: 5px 0px;
  display: block;
}

.ems-table .el-checkbox {
  display: inline-block;
  padding-right: 20px;
}

.el-tree, .el-tree:visited, .el-tree-node__content:hover, .el-tree-node:focus > .el-tree-node__content {
  background: none;
}

.el-dropdown-menu {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
}

.el-dropdown-menu .el-dropdown-menu__item {
  color: #fff;
}

.el-dropdown-menu .el-dropdown-menu__item:focus, .el-dropdown-menu .el-dropdown-menu__item:not(.is-disabled):hover {
  background: #014099;
  color: #fff;
}

.el-form-item__label {
  color: rgba(255, 255, 255, 0.7);
}

.el-textarea.is-disabled .el-textarea__inner {
  background-color: #fff !important;
  border: 1px solid #43648F;
  font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
}

.el-checkbox-group /deep/ .el-checkbox {
  margin: 0;
  display: block;
  margin-left: 20px;
  margin-top: 10px;
}

.el-checkbox /deep/ .el-checkbox__inner {
  background: #2B3D57;
  border: 1px solid #43648F;
  border-radius: 2px;
}

.el-checkbox /deep/ .el-checkbox__label {
  color: #fff;
}

.el-checkbox /deep/ .is-checked > .el-checkbox__inner {
  background: #409EFF;
  border-color: #409EFF;
}
